<!doctype html>
<html>
  <head>
    <meta name="google-site-verification" content="4jN8MFJmsyaGTKEtdCIeUe3Y5lMhM7Vv-QI5a65fvX0" />  
  
    <link rel="alternate" type="application/atom+xml" title="<%= title %>" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <link href="/css/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <title><%= title %></title>
  </head>
  <body>
    <section>
      <%= yield %> 
    </section>
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>

